@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-fz {
  font-size: 24px;
}
input {
  @apply text-black bg-white
}
.icon {
  margin: 0 !important;
  @apply icon-fz flex justify-center items-center h-auto text-black
}
.icon-dark {
  margin: 0 !important;
  @apply icon-fz text-black dark:text-white flex justify-center items-center h-auto
}
.icon-red {
  margin: 0 !important;
  @apply icon-fz text-warning dark:text-dark-warning flex justify-center items-center h-auto
}
.m-0 {
  margin: 0 !important;
}
body {
  @apply top-0 w-full bg-grayscale-100
}
html {
  @apply scroll-smooth
}

* {
  font-family: "Roboto", "poppins", sans-serif;
}

nav, header {
  @media screen and (max-width: 768px) {
    z-index: 1102 !important;
  }
}

header, footer, nav {
  @apply z-30
}
.pp-shadow {
  @apply shadow-[0_0_15px_0_rgba(160,160,160,0.5)];
  @apply dark:shadow-[]
}
.font-bolder {
  font-weight: 900;
}

.cont {
  @apply max-w-2xl mx-auto
}
.cont-inner {
  @apply max-w-xl mx-auto
}

.app-link {
  @apply flex justify-center items-center gap-xs select-none dark:text-dark-dark hover:text-cta-500 dark:hover:text-dark-cta-500 hover:text-opacity-70 transition ease-in-out cursor-pointer h-full title-large;
  >.icon {
    @apply title-large;
  }
}

.link {
  @apply select-none hover:text-cta-500 dark:text-dark-dark dark:hover:text-dark-cta-500 hover:text-opacity-70 transition ease-in-out cursor-pointer;
  >.icon {
    @apply title-large;
  }
}

.nav-link {
  @apply flex justify-center items-center gap-xs select-none dark:text-dark-dark hover:text-cta-500 dark:hover:text-dark-cta-500 hover:text-opacity-70 transition ease-in-out cursor-pointer h-full px-sm;
  &.link-active {
    @apply text-cta-500 dark:text-dark-cta-500 hover:text-opacity-70;
  }
}

.nav-link {
  span {
    @apply title-large hidden sm:block
  }
}

.cropper-modal, .cropper-container, .cropper-container img {
  @apply rounded-xl;
}

.p-dialog {
  max-height: 100vh !important;
  padding: 0 !important;
  .p-dialog-content {
    padding: 0 !important;
  }
}

.btn {
  @apply rounded-lg transition-all ease-in-out duration-100
  active:opacity-75
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header, h1, h2, h3, h4, h5, h6{
  @apply font-semibold text-grayscale-900 dark:text-dark-grayscale-900;
  font-size: 32px;
  line-height: 36px;
}

.title-large, p{
  @apply font-semibold text-grayscale-900 dark:text-dark-grayscale-900;
  font-size: 20px;
  line-height: 24px;
}

.title-small{
  @apply font-semibold text-grayscale-900 dark:text-dark-grayscale-900;
  font-size: 18px;
  line-height: 22px;
}
.text-bold{
  @apply font-semibold text-grayscale-900 dark:text-dark-grayscale-900;
  font-size: 14px;
  line-height: 18px;
}
.text-small-bold{
  @apply text-xs font-semibold text-grayscale-900 dark:text-dark-grayscale-900;
}
.text-regular, span, label{
  @apply text-grayscale-900 dark:text-dark-grayscale-900;
  font-size: 14px;
  line-height: 18px;
}
.text-small-regular{
  @apply text-xs text-grayscale-900 dark:text-dark-grayscale-900;
}
.white-text{
  @apply dark:text-grayscale-900 text-dark-grayscale-900 #{!important};
}

.flex-center{
  @apply flex justify-center items-center
}