<div @fadeIn class="mt-4">
  <div class="bg-grayscale-dark-white dark:bg-dark-grayscale-dark-white p-MD rounded-XL shadow">
    <h2 class="header text-center">ADD POST</h2>

    <div
      class="my-LG h-10 flex justify-around stepper-header relative"
    >

      <button
        class="step-heading white-text title-small"
        routerLink="/add-post/upload"
        routerLinkActive="active"
        [disabled]="false"
        [ngClass]="currentStepIndex >= 0 ? 'bg-cta-light dark:dark-bg-cta' : 'bg-primary-base dark:bg-dark-primary-base'"
      >
        Upload
      </button>
      <button
        class="step-heading white-text title-small"
        routerLink="/add-post/details"
        routerLinkActive="active"
        [disabled]="!(maxStepIndex >= 1)"
        [ngClass]="currentStepIndex >= 1 ? 'bg-cta-light dark:dark-bg-cta' : 'bg-primary-base dark:bg-dark-primary-base'"
      >
        Details
      </button>
      <button
        class="step-heading white-text title-small"
        routerLink="/add-post/review"
        [disabled]="!(maxStepIndex >= 2)"
        [ngClass]="currentStepIndex >= 2 ? 'bg-cta-light dark:dark-bg-cta' : 'bg-primary-base dark:bg-dark-primary-base'"
      >
        Review
      </button>

      <div
        class="step-line"
        [ngClass]="{
       'from-25% to-40%': currentRoute == 'upload',
       'from-60% to-75%': currentRoute == 'details',
       'from-90% to-100%': currentRoute == 'review',
      }"
      ></div>

    </div>
  </div>

  <form
    class="bg-grayscale-dark-white dark:bg-dark-grayscale-dark-white p-MD rounded-XL shadow mt-4"
  >
    <router-outlet />
  </form>
</div>



