<div class="bg-grayscale-200 dark:bg-dark-grayscale-200 p-sm rounded-lg max-w-max w-full">
  <div class="w-6 float-left">
    <a routerLink="/account/{{comm.account.id}}">
      <img class="w-6 max-h-6 h-6 object-fill rounded-xl"
           src="{{comm.account.profilePicUrl | urlTransform}}"
           alt="{{comm.account.nickname}}">
    </a>
  </div>

  <div class="flex flex-col">
    <div class="flex justify-between items-start gap-md">
      <a class="text-bold"
         routerLink="/account/{{comm.account.id}}">
        {{comm.account.nickname}}
      </a>
      <span class="text-small-regular">{{comm.commentAdded | dateAgo}}</span>
    </div>
    <span class="text-regular">{{ comm.text.length > 125 ? comm.text.substring(0, 125) + '...' : comm.text }}</span>
  </div>

</div>
