<div class="bg-grayscale-light-gray dark:bg-dark-grayscale-light-gray p-SM rounded-LG max-w-max w-full">
  <div class="w-6 float-left">
    <a routerLink="/account/{{comm.account.id}}">
      <img class="w-6 max-h-6 h-6 object-fill rounded-XL"
           src="{{comm.account.profilePicUrl | urlTransform}}"
           alt="{{comm.account.nickname}}">
    </a>
  </div>

  <div class="flex flex-col">
    <div class="flex justify-between items-start gap-MD">
      <a class="text-sm font-bold"
         routerLink="/account/{{comm.account.id}}">
        {{comm.account.nickname}}
      </a>
      <span class="text-xs text-grey dark:text-dark-grey">{{comm.commentAdded | dateAgo}}</span>
    </div>
    <span class="text-sm">{{ comm.text.length > 125 ? comm.text.substring(0, 125) + '...' : comm.text }}</span>
  </div>

</div>
