<div
  class="w-full justify-center items-center flex border-4 rounded-XL border-dashed border-cta-light bg-grayscale-dark-gray dark:bg-dark-grayscale-dark-gray"
  [ngClass]="{
    'h-40': !rawFileUrl,
    'h-max': rawFileUrl,
    }"
  @fadeIn
>
  <!--  File Input  -->
  <div class="flex w-full" *ngIf="!rawFileUrl">
    <label
      for="fileInput"
      class="w-full flex justify-center items-center rounded-XL hover:blur-sm cursor-pointer transition duration-250 ease-in-out"
    >
      <p class="p-SM rounded-XL">Upload a file...</p>
    </label>
    <input
      type="file"
      id="fileInput"
      class="hidden"
      [accept]="['image/*']"
      (change)="onFileChange($event.target)"
    />
  </div>

  <!--  Cropper -->
  <div *ngIf="rawFileUrl" class="rounded-XL relative flex flex-col">
    <div class="p-SM" (touchend)="cropperCrop()" (mouseover)="cropperCrop()">
      <angular-cropper
        #cropperComponent
        [imageUrl]="rawFileUrl"
        [cropperOptions]="{ aspectRatio: 3/4, viewMode: 2, responsive: true }"
        (ready)="onCropperReady()"
      />
    </div>
  </div>

</div>

<ng-container *ngIf="rawFileUrl">
  <!--    aspect ratio buttons  -->
  <div class="flex flex-col my-3">
    <div class="p-SM pb-0">
      <p class="title-large text-center">Choose aspect ratio</p>
    </div>
    <div class="flex gap-MD p-SM pb-0 items-center justify-center flex-wrap">
      <button
        class="px-SM py-XS rounded-LG text-regular md:px-MD md:py-SM"
        [ngClass]="aspectRatio == 3 / 4 ? 'bg-cta-light dark:dark-bg-cta' : 'bg-primary-base dark:bg-dark-primary-base'"
        (click)="changeAspectRatio(3 / 4)"
        [disabled]="!this.rawFileUrl"
      >
        3/4
      </button>
      <button
        class="px-SM py-XS rounded-LG text-regular md:px-MD md:py-SM"
        [ngClass]="aspectRatio == 4 / 4 ? 'bg-cta-light dark:dark-bg-cta' : 'bg-primary-base dark:bg-dark-primary-base'"
        (click)="changeAspectRatio(4 / 4)"
        [disabled]="!this.rawFileUrl"
      >
        4/4
      </button>
      <button
        class="px-SM py-XS rounded-LG text-regular md:px-MD md:py-SM"
        [ngClass]="aspectRatio == 4/3 ? 'bg-cta-light dark:dark-bg-cta' : 'bg-primary-base dark:bg-dark-primary-base'"
        (click)="changeAspectRatio(4 / 3)"
        [disabled]="!this.rawFileUrl"
      >
        4/3
      </button>
      <button
        class="px-SM py-XS rounded-LG text-regular md:px-MD md:py-SM"
        [ngClass]="aspectRatio == 4 / 2 ? 'bg-cta-light dark:dark-bg-cta' : 'bg-primary-base dark:bg-dark-primary-base'"
        (click)="changeAspectRatio(4 / 2)"
        [disabled]="!this.rawFileUrl"
      >
        4/2
      </button>
    </div>
  </div>

  <div class="flex flex-col text-center w-full my-4 border-t-2 justify-center items-center gap-MD flex-wrap"></div>

</ng-container>

<div class="mt-3 flex items-between justify-between">
  <button
    @fadeIn
    class="flex gap-XS text-regular px-MD py-SM rounded-LG whitespace-nowrap bg-primary-base dark:bg-dark dark:bg-dark-dark-primary-base disabled:opacity-60"
    [disabled]="!rawFileUrl"
    (click)="reset()"
  >
    Reset
  </button>

  <div class="flex items-end gap-MD">
    <button
      @fadeIn
      class="flex gap-XS text-regular px-MD py-SM rounded-LG whitespace-nowrap bg-cta-light dark:dark-bg-cta-light disabled:opacity-60"
      [disabled]="!canProceed"
      (click)="goNext()"
    >
      Next step
    </button>
  </div>
</div>
