{
  email {$LETS_ENCRYPT_EMAIL}
}

{$DOMAIN_BACKEND} {
  reverse_proxy backend:5000
}

{$DOMAIN_WEBCLIENT} {
  @auth_enabled expression {env.BASIC_AUTH_ENABLE} == "true"
  basic_auth @auth_enabled {
    {$BASIC_AUTH_USER} {$BASIC_AUTH_HASH}
  }
  reverse_proxy webclient:80
}

{$DOMAIN_ROOT} {
  redir https://{$DOMAIN_WEBCLIENT}{uri}
}
