<div 
    [ngClass]="switchValue ? 'bg-cta-700 dark:bg-dark-cta-700 dark:bg-cta-700' : 'bg-grayscale-900 dark:bg-dark-grayscale-900'" 
    class="w-16 h-9 border border-dark rounded-xl relative transition-all duration-500 cursor-pointer"
    (click)="switchValue = !switchValue; valueChanged.emit(switchValue)">
    
    <div 
        [ngStyle]="{'left': switchValue ? '30px' : '3px'}" 
        class="w-7 h-7 bg-grayscale-100 dark:bg-dark-grayscale-100 absolute rounded-xl transition-all duration-500"
        style="top: 3px;">
    </div>
</div>