<div 
    [ngClass]="switchValue ? 'bg-cta-dark dark:bg-dark-cta-dark dark:bg-cta-dark' : 'bg-grayscale-black dark:bg-dark-grayscale-black'" 
    class="w-16 h-9 border border-dark rounded-XL relative transition-all duration-500 cursor-pointer"
    (click)="switchValue = !switchValue; valueChanged.emit(switchValue)">
    
    <div 
        [ngStyle]="{'left': switchValue ? '30px' : '3px'}" 
        class="w-7 h-7 bg-grayscale-dark-white dark:bg-dark-grayscale-dark-white absolute rounded-XL transition-all duration-500"
        style="top: 3px;">
    </div>
</div>