<div *ngIf="pic" @fadeIn>

  <div class="wrapper h-full">

    <!--  Sidebar -->
    <div class="flex flex-col w-screen md:w-2/5 lg:w-3/8 xl:w-1/4 md:sticky md:top-0 md:p-MD md:rounded-LG md:shadow-xl md:bg-grayscale-white dark:bg-dark-grayscale-white md:h-screen">

      <div class="cont">
        <div class="section">

          <ng-container [ngTemplateOutlet]="isMobile ? description : accountSection"/>

          <!--  Tags  -->
          <div class="flex flex-row gap-MD pb-MD px-MD md:mx-3 md:mt-0 md:px-0 order-2" *ngIf="pic.tags.length">
            <pp-tag *ngFor="let tag of pic.tags" [tag]="tag"/>
          </div>

          <!--  Controls  -->
          <div class="flex flex-col px-MD md:px-MD py-SM pt-MD border-b-1 order-1 md:order-2 md:pt-0">
            <div class="flex gap-MD title-large icon-dark">
              <pp-like-btn [(pic)]="pic" />
              <pp-share-btn [(pic)]="pic"/>
              <pp-mod-btns [pic]="pic"></pp-mod-btns>
              <div class="grow flex justify-end">
                <span class="icon-setting icon-dark"></span>
              </div>
            </div>
          </div>

          <ng-container [ngTemplateOutlet]="commentsOption" />

        </div>
      </div>

    </div>

    <!--  Content  -->
    <div class="w-full flex flex-col pt-MD text-dark dark:text-dark-dark">

      <ng-container *ngIf="isMobile" [ngTemplateOutlet]="accountSection"></ng-container>

      <!--  Image  -->
      <div class="w-full md:h-picture-modal-picture-height px-MD md:px-0 md:pl-MD" @fadeIn>
        <img
          alt="{{pic.name}}"
          class="w-full m-auto rounded-LG object-contain md:h-picture-modal-picture-height shadow-center"
          src="{{pic.url | urlTransform}}"
        >
      </div>

      <a
        *ngIf="!isMobile"
        class="
          absolute shadow-lg top-0 left-3 p-MD z-20 bg-primary-dark dark:bg-dark-primary-dark text-white opacity-80
          rounded-br-LG rounded-bl-LG
          transition-all ease-in-out
          hover:py-MD hover:opacity-100
          active:py-MD select-none cursor-pointer
        "
        (click)="closeModal()"
      >
        Go back
      </a>

    </div>

  </div>

  <!--  Account Details  -->
  <ng-template #accountSection>
    <!--  Account  -->
    <div class="flex flex-col rounded-XL bg-grayscale-light-gray dark:bg-dark-grayscale-light-gray text-dark dark:text-dark-dark mx-3 mb-3 md:pb-0 md:m-3 md:order-2">

      <a
        class="flex px-MD py-MD"
        routerLink="/account/{{pic.account.id}}"
      >

        <div class="gap-SM justify-center items-center w-max flex flex-row" >
          <img class="w-8 max-h-8 object-fill rounded-XL" src="{{pic.account.profilePicUrl | urlTransform}}" alt="{{pic.account.nickname}}">
          <div class="title-large font-bolder">{{pic.account.nickname}}</div>
        </div>

        <div class="flex grow justify-end items-center">
          <span class="icon-vector-1"></span>
        </div>
      </a>

      <div class="px-MD pb-MD text-opacity-60" *ngIf="pic.description && !isMobile">
        {{pic.description}}
      </div>

    </div>
  </ng-template>

  <!--  Pic Description  -->
  <ng-template #description>
    <div class="px-MD py-MD text-opacity-60 order-2" *ngIf="pic.description">
      {{pic.description}}
    </div>
  </ng-template>

  <!--  Comments option  -->
  <ng-template #commentsOption>
    <!--  Comments heading  -->
    <h2
      class="text-bold md:title-large p-MD md:mt-0 order-3"
      [ngClass]="{'border-t-1 md:border-t-0' : pic.description || pic.tags.length}"
    >
      Comments:
    </h2>

    <!--  Comments display  -->
    <pp-comments-display [pic]="pic" [ngClass]="'order-4'"/>

    <!--  Comments form  -->
    <div class="comments-form p-MD order-5">
      <pp-comment-form [pic]="pic" (commentAdded)="onCommentAdd($event)"/>
    </div>
  </ng-template>

</div>


<pp-view-picture-modal-skeleton *ngIf="!pic"/>