<div #scrollableElement class="scrollable-content content mx-3 md:mr-xs">
  @if (pic.comments.length) {
    <div class="flex flex-col gap-md">
      @for (comm of pic.comments; track comm) {
        <pp-comment [comm]="comm"/>
      }
    </div>
  } @else {
    <div class="text-start text-dark dark:text-dark-dark rounded-lg bg-grayscale-200 dark:bg-dark-grayscale-200 p-sm md:p-md">
      No comments yet <br>
      <span class="text-small-regular">Be the <b>first</b> one to commment this picture!</span>
    </div>
  }
</div>
