<div class="pp-shadow w-full bg-grayscale-50 dark:bg-dark-grayscale-50 rounded-xl flex flex-col gap-sm" *ngIf="pic">

  <!--  Image  -->
  <div class="flex rounded-t-xl justify-center items-center cursor-pointer"
       ppOpenQueryModal
       [modalMode]="QueryModalEnum.VIEW_PICTURE"
       [id]="pic.id"
  >
    <img class="w-full rounded-t-xl select-none" @fadeIn src="{{pic.url | urlTransform}}" alt="{{pic.name}}">
  </div>

  <!--  Controls  -->
  <div class="flex justify-between items-center px-md">

      <a class="flex flex-row justify-between items-center gap-xs" routerLink="/account/{{pic.account.id}}">
        <img class="w-8 h-8 rounded-xl object-center object-contain bg-grey dark:bg-dark-grey" src="{{pic.account.profilePicUrl | urlTransform}}" alt="{{pic.account.nickname}}">
        <p class="title-small h-min lh flex justify-center items-center sm:title-large">{{pic.account.nickname}}</p>
      </a>

      <div class="flex items-start gap-xs">
        <pp-mod-btns [pic]="pic"></pp-mod-btns>
        <pp-like-btn [(pic)]="pic"/>
        <pp-share-btn [(pic)]="pic"/>
      </div>

    </div>

  <!--  Description  -->
  <p class="title-small px-md" *ngIf="pic.description">
    {{pic.description}}
  </p>

  <!--  Tags  -->
  <p class="flex gap-sm px-md text-dark dark:text-dark-dark" *ngIf="pic.tags?.length">
    <pp-tag *ngFor="let tag of pic.tags" [tag]="tag"/>
  </p>

  <!--  Comments  -->
  <ng-container  *ngIf="pic.commentCount && pic.comments?.length">
    <p class="title-large px-md">Comments</p>

    <div class="flex flex-col gap-sm px-md text-dark dark:text-dark-dark">
      <pp-mini-comment [comm]="pic.comments[0]" />
    </div>
  </ng-container>

  <!--  Comment form  -->
  <div
    ppOpenQueryModal
    [modalMode]="QueryModalEnum.VIEW_PICTURE"
    [id]="pic.id"
    class="cursor-pointer bg-grayscale-50 dark:bg-dark-grayscale-50 border-1 rounded-md border-grey flex items-center justify-between m-3 mt-xs px-md">
    <p class="text-small-regular">Comment this...</p>
    <span class="icon-vector text text-lg"></span>
  </div>

</div>
